body{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hide {
    max-height: 0 !important;
}

.dropdown{
	display: flex;
	margin: 3px;
	
}
#nameNavBar{
	color: white;
	margin: 0px 10px;
}